<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
    <title>NodeJS Express Chat</title>
</head>

<body>
    <div class="container-fluid wrapper">
        <div class="card-header header">
            NodeJS Express Chat
        </div>
        <div class="container content">
            <div class="row" style="height: 100%; width: 100%;">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                </div>
            </div>
        </div>
        <div class="card-footer text-muted footer">
            <i class="fas fa-copyright">&copy;</i> Kabernik-Berazouski Yury & Aliaksander Odinec
        </div>
    </div>
</body>

</html>