<!--Login style-->
<link rel="stylesheet" href="/stylesheets/login-box.css" type="text/css">

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="imgcontainer">
            <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input id="userName" type="text" placeholder="Enter Username" required>

            <button id="login-enter">Login</button>
        </div>
    </form>
</div>
